@import "colors.scss";
#user-selection {
  text-align: center;
  h3 {
    color: $blue;
  }
  .users-container {
    position: relative;
    height: 250px;
    border-radius: 5px;
    padding-right: 10px;
    background: $white;
    &:hover {
      cursor: pointer;
    }
    .list-item {
      margin: 10px 0;
      padding: 5px 0;
      width: 100%;
      &:hover {
        background: $blue;
        color: $white;
        font-weight: bold;
      }
    }
    .selected {
      background-color: $blue;
      color: $white;
    }
  }
}
